/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-dic-2014, 18:34:11
    Author     : al038671
*/
#menu-237-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-919-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-597-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-445-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-446-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-447-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-582-1 > a:hover {
	color:white;
	background-color: grey;
}
#menu-920-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-444-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-592-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-920-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-602-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-599-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-906-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-569-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-564-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-565-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-908-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-566-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-685-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-479-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-480-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-481-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-877-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-909-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-910-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-561-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-562-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-560-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-558-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-563-1 > a:hover {
	color:white;
	background-color:grey;
}
#menu-556-1 > a:hover {
	color:white;
	background-color:grey;
}